/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/main';
@use 'assets/styles/colors';
html,
body {
    height: 100%;
}
* {
    &:focus {
        outline: 1px solid black;
    }
}
body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
